body{
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;
}
/* CONTAINER */
.container_{
  width: 820px;
  height:700px;  
  padding:35px;
  border: 20px black dashed;
  border-radius: 10px;
  overflow: auto;
  filter: drop-shadow(3px 3px  #F4ED36);
}

@media (max-width: 949px) {
  .container_{
    width: 90vw;
    height:95vh;
    padding: 10px;
    border: 10px black dashed;
    filter: drop-shadow(0px 1px  #F4ED36);
  }
}
/* TITLE */
.title{
  margin: 0;
  padding: 0;
  color: #F4ED36;
  font-size: 40px;
  text-align: center;
  filter: drop-shadow(3px 3px  black);
}
/* FOOTER */
footer{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F4ED36;
  font-size: 8px;
  text-align: center;
  padding-top: 20px;
  /* letter-spacing: -px; */
}
/* LIST */
/* .list_container{

} */
.item_list{
  display: flex;
  flex-flow: row ;
  justify-content: space-between;
  align-items: center;
}

.item_input{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 700px;
  height: 65px;
  margin: 10px 0px 10px 0px;
  background-color: #61609A;
  border: 3px solid #222222;
  box-shadow: 4px 4px 1px #222222;
  border-radius: 7px;
  color: #FFFEE2;
  font-size: 20px;
  font-weight:bolder;
  vertical-align:baseline;
  display: table;
  line-height:3.2;
  padding: 0px 10px 0px 10px;
}
.items_{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 795px;
    height: 65px;
    margin: 10px 0px 10px 0px;
    background-color: #61609A;
    border: 3px solid #222222;
    box-shadow: 4px 4px 1px #222222;
    border-radius: 7px;
    color: #FFFEE2;
    font-size: 20px;
    font-weight:bolder;
    vertical-align:baseline;
    display: table;
    line-height:3.2;
    padding: 0px 10px 0px 10px;
}

/* ADD-ITEM */
.button_{
  display: block;  
  width: 65px;
  height: 70px;
  background-color: #61609A;
  border: 3px solid #222222;
  box-shadow: 4px 4px 1px #222222;
  border-radius: 7px;
  color: #FFFEE2;
  text-align: center;
  font-size: 50px;  
  line-height:1.3;
  cursor: pointer;
}
.button_:hover{
  cursor: pointer;
  background-color: #383861;
  transition: 0.5s;
}

.add_button{
  font-size: 70px;
  line-height: 0.9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
